* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  line-height: 1;
  font-size: 14px;
  font-family: "r";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #192229;
  background-color: #E5E5E5;
}
input,
button,
textarea {
  font-family: "r";
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
@font-face {
  font-family: 'r';
  src: url('../fonts/Rubik-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'rb';
  src: url('../fonts/Rubik-SemiBold.ttf');
  font-weight: 500;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advertise {
  padding-top: 24px;
}
.advertise__title {
  margin-bottom: 16px;
  padding-left: 30px;
  font-size: 20px;
  line-height: 24px;
}
.advertise__note {
  padding-left: 30px;
  font-size: 16px;
  line-height: 135%;
}
.advertise__note span {
  font-family: "rb";
}
.advertise__note a {
  color: #3897F0;
}
.advertise__table {
  padding-top: 20px;
}
.btn {
  padding-right: 15px;
  padding-left: 15px;
  height: 36px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #D5DFE4;
}
.btn--active {
  background-color: #3897F0;
  color: #fff;
  border: 1px solid #3897F0;
}
.footer {
  width: 1440px;
  margin: 0 auto;
  background-color: #424858;
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 660px;
  margin: 0 auto;
  height: 50px;
}
.footer__text {
  line-height: 17px;
  color: #fff;
}
.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 25px;
}
.head__title {
  margin-right: 20px;
  font-family: "r";
  font-size: 30px;
  line-height: 28px;
}
.head__title--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.head__title--icon svg {
  margin-right: 5px;
}
.head__btn:not(:last-child) {
  margin-right: 15px;
}
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 165px;
  padding-right: 165px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}
.header:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 73, 129, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 73, 129, 0.1);
  z-index: 10;
}
.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__imageBlock {
  margin-right: 13px;
}
.header__image {
  width: 44px;
}
.header__accName {
  line-height: 19px;
  font-size: 16px;
}
.header__accTag {
  color: #6A7B83;
  line-height: 17px;
}
.header__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 60px;
  color: #6A7B83;
}
.header__givs {
  color: #6A7B83;
}
.header__feedbackBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__optionItem:not(:last-child) {
  margin-right: 25px;
}
.header__feedback {
  margin-right: 5px;
}
.header__tracker {
  color: #6A7B83;
}
.header__logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-left: auto;
  background-image: url(../img/svg/image.svg);
  border-radius: 50%;
  padding-left: 1px;
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-bottom: 2px dashed #D5DFE4;
}
.info__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  padding-left: 30px;
  padding-right: 30px;
  border-right: 1px solid #D5DFE4;
}
.info__photoBlock {
  width: 90px;
  height: 90px;
  margin-bottom: 12px;
  border-radius: 50%;
  overflow: hidden;
}
.info__name {
  margin-bottom: 8px;
  line-height: 19px;
  font-size: 16px;
  color: #3897F0;
}
.info__subscr {
  margin-bottom: 12px;
  line-height: 16px;
  color: #6A7B83;
}
.info__theme {
  line-height: 18px;
  text-align: center;
}
.info__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}
.info__data {
  margin-right: 70px;
}
.info__number {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 36px;
}
.info__descrip {
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 19px;
}
.info__descrip span {
  color: #6A7B83;
}
.info__title {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 21px;
}
.info__screen {
  color: #6A7B83;
  line-height: 17px;
}
.info__screen span {
  color: #3897F0;
}
.info__table {
  margin-top: 26px;
}
.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.table__column {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.table__row {
  line-height: 19px;
  font-size: 16px;
}
.table__column:nth-child(1) {
  width: 180px;
}
.table__column:nth-child(2) {
  width: 235px;
}
.table__row--head {
  color: #6A7B83;
  line-height: 16px;
  font-size: 14px;
  margin-bottom: 6px;
}
.table__row--mb {
  margin-bottom: 26px;
}
.table__row--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.table__svg {
  margin-right: 3px;
}
.table__tableMarked {
  color: #3897F0;
}
.main {
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: #e2edee;
  max-width: 1440px;
  margin: 0 auto;
}
.main__body {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 73, 129, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 73, 129, 0.1);
}
.note {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FFFCE3;
}
.note__text {
  font-size: 14px;
  line-height: 20px;
}
.tableAdv__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  padding-left: 30px;
  padding-right: 40px;
  border-bottom: 1px solid #D5DFE4;
}
.tableAdv__row:last-child {
  border-bottom: none;
}
.tableAdv__row--head {
  height: 60px;
  border-bottom: none;
  background-color: #F8F8F8;
}
.tableAdv__column {
  font-size: 14px;
  line-height: 17px;
}
.tableAdv__column--head {
  font-size: 16px;
  line-height: 19px;
}
.tableAdv__column--first {
  width: 210px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.tableAdv__column--second {
  width: 180px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.tableAdve__column--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tableAdv__svg {
  margin-right: 9px;
}

/*# sourceMappingURL=style.css.map */
